<script setup>
import { ref, onMounted, onBeforeUnmount, watch } from 'vue';
import { DateTime } from 'luxon';
import { useThemeStore } from "../store/store.js";

const themeStore = useThemeStore();
const showingSpinner = ref(false);

// Watch the theme state in the Pinia store for changes
watch(() => themeStore.theme, (newTheme, oldTheme) => {
  if (newTheme !== oldTheme) {
    showingSpinner.value = true;
    setTimeout(() => {
      showingSpinner.value = false;
    }, 500);
  }
});

// Define props for target date
const props = defineProps({
  targetDate: { type: String, required: true }
});

// Define reactive variables for countdown
const days = ref(0);
const hours = ref(0);
const minutes = ref(0);
const seconds = ref(0);

// Function to calculate countdown
const calculateCountdown = () => {
  const targetDate = DateTime.fromISO(props.targetDate);
  const now = DateTime.local();
  const diff = targetDate.diff(now, ['days', 'hours', 'minutes', 'seconds']).toObject();
  days.value = Math.floor(diff.days);
  hours.value = Math.floor(diff.hours);
  minutes.value = Math.floor(diff.minutes);
  seconds.value = Math.floor(diff.seconds);
};

// Update countdown every second
let intervalId;

onMounted(() => {
  calculateCountdown(); // Call initially to avoid initial delay
  intervalId = setInterval(calculateCountdown, 1000);
});

// Clear interval on component destroy
onBeforeUnmount(() => {
  clearInterval(intervalId);
});
</script>

<template>
  <div class="flex flex-col items-center p-10">
    <div class="flex text-center" style="width: 100%;">
      <!-- Days -->
      <div class="flex flex-col items-center" style="flex: 1;">
        <span class="text-5xl sm:text-8xl font-mono" :style="{ '--value': `${days}` }">
          {{ days }}
        </span>
        <span class="text-sm">Days</span>
      </div>
      <!-- Hours -->
      <div class="flex flex-col items-center" style="flex: 1;">
        <span class="text-5xl sm:text-8xl font-mono" :style="{ '--value': `${hours}` }">
          {{ hours }}
        </span>
        <span class="text-sm">Hours</span>
      </div>
      <!-- Minutes -->
      <div class="flex flex-col items-center" style="flex: 1;">
        <span class="text-5xl sm:text-8xl font-mono" :style="{ '--value': `${minutes}` }">
          {{ minutes }}
        </span>
        <span class="text-sm">Minutes</span>
      </div>
      <!-- Seconds -->
      <div class="flex flex-col items-center" style="flex: 1;">
        <span class="text-5xl sm:text-8xl font-mono" :style="{ '--value': `${seconds}` }">
          {{ seconds }}
        </span>
        <span class="text-sm">Seconds</span>
      </div>
    </div>
  </div>
</template>



<style scoped>
</style>
