<script setup>
import buLogo from '@/assets/logo/bu-logo-light.svg'
</script>

<template>
  <footer class="bg-neutral text-neutral-content" data-theme="dark">
    <div class="border-t border-white/20 px-8 py-4 text-center lg:px-40 mt-4 flex justify-center items-center">
      <h2 class="text-md font-semibold text-base-content">Powered by</h2>
      <a href="https://www.bitcoinunlimited.info/" target="_blank">
        <img :src="buLogo" alt="Bitcoin Unlimited Logo" class="h-6 ml-2">
      </a>
    </div>

  </footer>
</template>
