<script setup>
import { computed } from 'vue'
import { DateTime } from 'luxon'
import { useStatsStore } from '@/store/store';
import Countdown from "./Countdown.vue";
const statsStore = useStatsStore();

const halvingDate = computed(() => statsStore.targetDate)

const cycleBaseYear = 2026;
const cycleInterval = 4;

const today = DateTime.now();
const cycleBaseDate = DateTime.fromObject({ year: cycleBaseYear, month: 6, day: 21 });

let targetYear;

if (today > cycleBaseDate) {
  const yearsSinceBase = today.year - cycleBaseYear;
  const cyclesSinceBase = Math.ceil(yearsSinceBase / cycleInterval);
  targetYear = cycleBaseYear + (cyclesSinceBase * cycleInterval);
} else {
  targetYear = cycleBaseYear;
}



const targetDate = computed(() => {
  if (!halvingDate.value) return DateTime.fromObject({ year: targetYear, month: 6, day: 21 }).toISO();
  return halvingDate.value
})

</script>

<template>
  <section class="py-8 lg:py-20" id="home">
    <div class="container">
      <div class="grid grid-cols-1 gap-12">
        <div>
          <h1 class="text-4xl text-center font-black tracking-tighter lg:text-6xl lg:leading-none">
            <span class="text-primary">Block Reward Halving</span> Countdown
          </h1>
          <Countdown :target-date="targetDate" class="mt"/>
          <h1 class="text-xl text-center font-black font-light tracking-tighter lg:text-xl lg:leading-none">
            <span class="text-primary font-bold">ETA: </span> {{ DateTime.fromISO(targetDate).toLocaleString(DateTime.DATETIME_MED) }}
          </h1>
        </div>
      </div>
    </div>
  </section>
</template>
