<script setup>
import {computed, ref, watchEffect} from 'vue';
import { DateTime } from 'luxon';
import { useStatsStore } from '@/store/store';
import { useThemeStore } from '@/store/store';
import coinGeckoLogoLight from '@/assets/logo/coingecko-light.svg'
import coinGeckoLogoDark from '@/assets/logo/coingecko-dark.svg'

const statsStore = useStatsStore();
const themeStore = useThemeStore()

const isDarkMode = ref(themeStore.dark)
const marketData = computed(() => statsStore.marketData);
const explorerData = computed(() => statsStore.explorerData);

const marketDataLastUpdated = ref('');

watchEffect(() => {
  isDarkMode.value = themeStore.theme === 'dark';
})

const formatHashRate = (hash) => {
  if (hash === 'N/A') {
    return hash
  }
  let newHash;
  let suffix;

  if (hash > 1000000000000) {
    newHash = hash / 1000000000000;
    suffix = "TH/s";
  } else if (hash > 1000000000) {
    newHash = hash / 1000000000;
    suffix = "GH/s";
  } else if (hash > 1000000) {
    newHash = hash / 1000000;
    suffix = "MH/s";
  } else if (hash > 1000) {
    newHash = hash / 1000;
    suffix = 'KH/s';
  } else {
    newHash = hash;
    suffix = 'H/s'; // Handle hash rates below 1 KH/s
  }

  return `${newHash.toFixed(2)} ${suffix}`;
}
const convertToScientificNotation = (number) => {
  return number.toExponential(3)
}

const formatScientificNotation = (number) => {
  if (number === 'N/A') {
    return number
  }
  let exponent = Math.floor(Math.log10(number) / 3) * 3
  let base = number / Math.pow(10, exponent)
  let formattedBase = base.toFixed(2)
  let superscriptExponent = toSuperscript(exponent)
  return `${formattedBase} x 10${superscriptExponent}`
}

const toSuperscript = (num) => {
  const superscriptMap = { '3': '³' };
  return num.toString().split('').map(char => superscriptMap[char] || char).join('');
}

const calculateBlocksTillHalving = (n) => {
    const halvings = [210000 * 5, 210000 * 5 * 2, 210000 * 5 * 3, 210000 * 5 * 4, 210000 * 5 * 5, 210000 * 5 * 6, 210000 * 5 * 7];
    // Find the next larger number
    const nextLarger = halvings.find(num => num > n);
    
    // If there's no next larger number, return 0
    if (!nextLarger) {
        return 0;
    }
    
    // Calculate the difference
    const difference = nextLarger - n;
    
    return difference;
}

const tableData = computed(() => {
  if (!marketData.value) return [];

   // Market Data
  const {
    circulating_supply = 'N/A',
    max_supply = 'N/A',
    current_price = { usd: 'N/A' },
    market_cap = { usd: 'N/A' },
    roi = null
  } = marketData.value;

  marketDataLastUpdated.value = DateTime.fromISO(marketData.value.last_updated).toLocaleString(DateTime.DATETIME_MED);

  const roiPercentage = roi?.percentage ?? 'N/A';

  const approximateBlocksGeneratedPerDay = 720;
  const totalNumberOfBlockRewardHalvings = 0;
  const nexacoinBlockReward = 10000000 / (totalNumberOfBlockRewardHalvings + 1);
  const nexacoinsGeneratedPerDay = approximateBlocksGeneratedPerDay * nexacoinBlockReward;


  // Explorer Data
  let difficulty, hashRate, totalBlocks, blocksUntilMiningRewardIsHalved;
  if (explorerData.value) {
    difficulty = explorerData.value.blockChainInfo?.difficulty ?? 1;
    hashRate = (difficulty * 2 ** 32) / 120; // Result in KH/s
    totalBlocks = explorerData.value.blockChainInfo?.blocks;
    blocksUntilMiningRewardIsHalved = calculateBlocksTillHalving(totalBlocks);
  } else {
    difficulty = "N/A";
    hashRate = "N/A";
    totalBlocks = "N/A";
    blocksUntilMiningRewardIsHalved = "N/A";
  }
  return [
    { name: "Total Nexa in circulation", value: circulating_supply },
    { name: "Total Nexa to ever be produced", value: max_supply },
    { name: "Hash Rate", value: formatHashRate(hashRate) },
    { name: "Last Difficulty", value: formatScientificNotation(difficulty) },
    { name: "Nexa price (USD)", value: current_price?.usd ?? 'N/A' },
    { name: "Market capitalization (USD)", value: market_cap?.usd ?? 'N/A' },
    { name: "Nexa inflation rate per annum", value: roiPercentage },
    { name: "Total Blocks", value: totalBlocks},
    { name: "Blocks until mining reward is halved", value: blocksUntilMiningRewardIsHalved },
    { name: "Approximate block generation time", value: "2 minutes" },
    { name: "Approximate blocks generated per day", value: approximateBlocksGeneratedPerDay },
    { name: "Total number of block reward halvings", value: totalNumberOfBlockRewardHalvings },
    { name: "Nexa block reward", value: nexacoinBlockReward },
    { name: "Nexa generated per day", value: nexacoinsGeneratedPerDay },
  ];
});

// Function to format number with commas
const formatStat = (value) => {
  // Attempt to convert to a number if it's a numeric string
  const num = Number(value);
  if (!isNaN(num) && Number.isInteger(num)) {
    return new Intl.NumberFormat().format(num);
  }
  return value;
};

</script>

<template>
  <section class="py-8 lg:py-20" id="stats">
    <div class="container">
      <div class="text-center">
        <h2 class="text-4xl font-semibold text-base-content">Stats</h2>
        <div class="mt-4 flex justify-center items-center">
          <h2 class="text-md font-semibold text-base-content">Powered by</h2>
          <a href="https://www.coingecko.com/" target="_blank">
            <img :src="isDarkMode ? coinGeckoLogoDark : coinGeckoLogoLight" alt="CoinGecko Logo" class="h-8 ml-2">
          </a>
        </div>
      </div>
      <table class="table-lg table-zebra w-full text-base-content">
        <tbody>
        <tr v-for="(item, index) in tableData" :key="index">
          <td class="font-bold">{{ item.name }}</td>
          <td>{{ formatStat(item.value) }}</td>
        </tr>
        </tbody>
      </table>
      <div class="text-center">
        <h2 class="text-lg font-light text-base-content">Data is refreshed every 5 minutes</h2>
        <h2 class="text-md font-light text-base-content">Last Refresh: {{ marketDataLastUpdated }}</h2>
      </div>
    </div>
  </section>
</template>

<style scoped>

</style>