<template>
  <div class="fixed bottom-5 end-5 z-10 flex flex-col items-center">
    <div class="dropdown dropdown-end dropdown-top" :class="{ 'dropdown-open': dropdownOpen }">
      <div class="btn mt-2" role="button" tabindex="0" @click="toggleDropdown">
        Theme
        <svg
            class="inline-block h-2 w-2 rotate-180 fill-current opacity-60"
            height="12px"
            viewBox="0 0 2048 2048"
            width="12px"
            xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"></path>
        </svg>
      </div>
      <ul
          class="menu dropdown-content menu-xs text-base z-[1] w-52 rounded-box bg-base-300 shadow-2xl"
          tabindex="0"
          v-show="dropdownOpen"
      >
        <li>
          <button @click="setTheme('light')">
            <Sun class="h-5" />
            <span class="text-sm">Light</span>
          </button>
        </li>
        <li>
          <button @click="setTheme('dark')">
            <Moon class="h-5" />
            <span class="text-sm">Dark</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</template>

<script setup>
import { onMounted, onUnmounted, ref } from 'vue';
import { useThemeStore } from '@/store/store';
import { Sun, Moon } from 'lucide-vue-next';

// Access the theme store
const themeStore = useThemeStore();

// Reactive variable for dropdown open state
const dropdownOpen = ref(false);

// Method to toggle the dropdown open state
const toggleDropdown = (event) => {
  dropdownOpen.value = !dropdownOpen.value;
  event.stopPropagation(); // Prevent the event from bubbling up to the document
};

// Method to close the dropdown if clicking outside of it
const closeDropdown = (event) => {
  if (!event.target.closest('.dropdown')) {
    dropdownOpen.value = false;
  }
};

// Method to set the theme using Pinia store and close the dropdown
const setTheme = (theme) => {
  themeStore.setTheme(theme);
  dropdownOpen.value = false; // Ensure the dropdown is closed after setting the theme
};

// Setup event listeners on mount and cleanup on unmount
onMounted(() => {
  document.addEventListener('click', closeDropdown);
});

onUnmounted(() => {
  document.removeEventListener('click', closeDropdown);
});
</script>



