<script setup>
import { ref, watchEffect, onMounted } from 'vue'
import { useThemeStore } from '@/store/store'
import nexaLogoLight from '@/assets/logo/nexa-logo-mark-text-dark.svg'
import nexaLogoDark from '@/assets/logo/nexa-logo-mark-text-white.svg'

const themeStore = useThemeStore()

const atTop = ref(false)
const isDarkMode = ref(themeStore.dark)

onMounted(() => {
  const onWindowScroll = () => {
    atTop.value = window.pageYOffset < 30
  }
  onWindowScroll()
})

watchEffect(() => {
  isDarkMode.value = themeStore.theme === 'dark';
})

</script>

<template>
  <div
    id="navbar-wrapper"
    class="sticky top-0 z-10 border-b bg-base-100 lg:bg-opacity-95 lg:backdrop-blur-sm"
    :class="atTop ? 'border-transparent' : 'border-base-content/10'"
  >
    <div class="container">
      <nav class="navbar px-0">
        <div class="navbar-start gap-2">
          <!-- Navbar Brand logo -->
          <img
              class="h-12 cursor-pointer"
              :src="isDarkMode ? nexaLogoDark : nexaLogoLight"
              alt="nexa logo"
          />
        </div>

        <div class="navbar-end gap-3">
          <a class="btn btn-ghost btn-sm" href="#faq">What's this?</a>
          <a class="btn btn-ghost btn-sm" href="#stats">Stats</a>
        </div>
      </nav>
    </div>
  </div>
</template>
