<script setup>
import Topbar from '@/components/Topbar.vue'
import Hero from '@/components/Hero.vue'
import FAQ from '@/components/FAQ.vue'
import Footer from '@/components/Footer.vue'
import ThemeToggler from '@/components/ThemeToggler.vue'
import Stats from "@/components/Stats.vue";
</script>

<template>
  <Topbar />
  <Hero />
  <FAQ />
  <Stats/>
  <Footer />
  <ThemeToggler />
</template>
